{% extends "pretixcontrol/base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load static %}
{% load compress %}

{% block title %}{% trans "Bank Sync Settings" %}{% endblock %}

{% block custom_header %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet" type="text/x-scss" href="{% static "pretix_bank_sync/scss/bank_sync_common.scss" %}" />
    {% endcompress %}
{% endblock %}

{% block content %}
    <h1>{% trans "Bank Sync Settings" %}</h1>
    
    <div class="bank-sync-margin-bottom">
        <a href="{% url 'plugins:pretix_bank_sync:connections_list' organizer=organizer.slug %}" class="btn btn-default">
            <span class="fa fa-arrow-left"></span>
            {% trans "Back to Connections" %}
        </a>
    </div>

    <!-- GoCardless Configuration -->
    <div>
        <!-- GoCardless Tab -->
        <div id="gocardless">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "GoCardless Configuration" %}</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal">
                        {% csrf_token %}
                        <input type="hidden" name="tab" value="gocardless">
                        <fieldset>
                            <legend>{% trans "API Credentials" %}</legend>
                            <div class="form-group">
                                <label class="col-md-3 control-label">{% trans "Client ID (Secret ID)" %}</label>
                                <div class="col-md-9">
                                    <input type="text" name="gocardless_client_id" class="form-control" 
                                           value="{{ gocardless_client_id }}" 
                                           placeholder="{% trans 'Enter your GoCardless Secret ID' %}">
                                    <p class="help-block">{% trans "Your GoCardless Secret ID from the User Secrets section in the Bank Account Data portal" %}</p>
                                </div>
                            </div>
                            
                            <div class="form-group">
                                <label class="col-md-3 control-label">{% trans "Client Secret (Secret Key)" %}</label>
                                <div class="col-md-9">
                                    <input type="password" name="gocardless_client_secret" class="form-control" 
                                           value="{{ gocardless_client_secret }}" 
                                           placeholder="{% trans 'Enter your GoCardless Secret Key' %}">
                                    <p class="help-block">{% trans "Your GoCardless Secret Key from the User Secrets section" %}</p>
                                </div>
                            </div>
                            
                        </fieldset>
                        <div class="form-group submit-group">
                            <button type="submit" class="btn btn-primary btn-save">
                                {% trans "Save" %}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
